/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}
/* PALETTE */
/* celeste #255ee9
nero #23272a
grigio #f6f6f6 */

/* HEADER */
header {
  background-color: #255ee9;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/jumbo.png");
}

.flex-nav {
  padding: 2em 0;
  display: flex;
  /* height: 5vh; */
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

#menu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  list-style: none;
}
#menu ul li {
  padding: 0.4em 1em;
}

#login {
  color: #23272a;
  background-color: white;
  border: none;
  padding: 1em 1.5em;
  border-radius: 20px;
}

/* JUMBO */
#jumbo {
  /* height: 80%; */
  margin: 1.6em 0;
  padding: 2em 0;
}
#jumbo-txt {
  width: 60%;
  height: 100%;
  margin: 0.5em auto;
  text-align: center;
  padding: 4em 0;
}

#jumbo-p {
  margin-top: 0.3em;
  color: white;
}
#jumbo-h1 {
  color: white;
  font-size: 3rem;
  padding: 00.5em 0;
}
#mac-download {
  margin: 1em 0.3em;
  background-color: white;
  border-radius: 20px;
  padding: 1em 1.5em;
  font-size: 1rem;
  border: none;
  vertical-align: middle;
  justify-content: center;
}
#browser-version {
  margin: 1em 0.3em;
  background-color: #23272a;
  color: white;
  border-radius: 20px;
  padding: 1em 1.5em;
  font-size: 1rem;
  border: none;
  vertical-align: middle;
  justify-content: center;
}

/* MAIN */
/* WAVES */
#wave-1hkxOo {
  margin-top: -1em;
}
#upside {
  background-color: #f6f6f6;
}

/* SECTION */
section {
  background-color: white;
  /* height: 400px; */
  padding-top: 1em;
}
.container {
  margin: 0 auto;
  width: 80%;
  /* background-color: #23272a; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.container .img {
  min-height: 300px;
  /* background-color: aqua; */
  flex-grow: 1;
}
.container .txt {
  /* background-color: white; */
  min-height: 300px;
}

h2 {
  font-size: 3rem;
  padding: 0.5em 0;
}

p {
  font-size: 1.5rem;
  padding: 0.3em;
  justify-content: left;
}

.odd {
  background-color: #f6f6f6;
}

.reverse {
  flex-direction: row-reverse;
}

.vertical {
  flex-direction: column;
}

.vertical h2,
.vertical p {
  text-align: center;
}

#download-section {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 4em 0;
}

h3 {
  font-size: 3em;
  background-image: url("../img/stars.svg");
  background-size: contain;
}

#download {
  margin: 1em;
  border: none;
  color: white;
  background-color: #728ada;
  font-size: 1.6rem;
  border-radius: 20px;
  padding: 0.5em 1em;
  vertical-align: middle;
  line-height: 100%;
  justify-content: center;
  border: none;
}

/* FOOTER */
footer {
  background-color: #23272a;
}

#footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  padding: 0.5em 0;
}
.footer-section {
  padding: 0.5em 1em;
  min-height: 300px;
  width: 100%;
}

#first {
  flex-grow: 1;
}

#language img {
  width: 20px;
}
#language span {
  color: white;
  padding: 0.5em;
}
#social i {
  color: white;
  padding: 0em 1em 0em 0em;
}

.footer-section h4 {
  color: #728ada;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

h5 {
  color: #728ada;
  font-size: 1.3rem;
}

.submenu li {
  font-size: 0.9rem;
  padding: 0.7em 0;
}

hr {
  height: 2px;
  background-color: #255ee9;
  border: none;
}

.footer-section ul {
  list-style: none;
  color: white;

  text-decoration: none;
  list-style-position: outside;
}

#footer-banner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1.5em 0 3em 0;
}

#signin {
  color: white;
  background-color: #255ee9;
  border-radius: 20px;
  padding: 0.1em 0.9em;
  vertical-align: middle;
  line-height: 100%;
  justify-content: center;
  border: none;
}
